@font-face {
	font-family: digital-7;
	src: url("fonts/digital-7/Digital7Mono-Yz9J4.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

#calculator {
	width: 50vw;
	max-width: 400px;
	padding: 15px;
	background-color: #2cb099;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 15px;
}

#calcName {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
#calcName h3 {
	font-size: 2em;
}

#screenContainer {
	background-color: beige;
	width: 100%;
	border: 2px solid green;
	display: flex;
	flex-direction: column;
	aspect-ratio: 3/1;
}

.screen {
	color: black;
	font-family: digital-7;
	text-align: end;
}

#screenTop {
	font-size: 2em;
	flex-basis: 33.33%;
}
#screenBottom {
	font-size: 5em;
	flex-basis: 66.66%;
}

#buttons {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
#numbersBlock {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

#topRow {
	display: flex;
	flex-wrap: nowrap;
}

button.top {
	flex-basis: 25%;
	aspect-ratio: 1/1;
}

button.right {
	flex-basis: 50%;
	aspect-ratio: 1/2;
}
button {
	background-color: #013241;
	color: azure;
	border-radius: 15px;
	border: 3px solid #2cb099;
	font-size: 2em;
}
button.number {
	flex-basis: 33.33%;
}
#numbersOperators {
	display: flex;
}
#rightColumn {
	display: flex;
	flex-direction: column;
	width: 25%;
}
#num0 {
	flex-grow: 1;
}
button#ac {
	background-color: #b75860;
}
