@font-face {
	font-family: digital-7;
	src: url("fonts/digital-7/Digital7Mono-Yz9J4.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}
body {
	background-image: url(./img/deskSurface.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
header {
	margin: 2vh;
	text-align: center;
	font-size: 2em;
	color: whitesmoke;
	text-shadow: 4px 4px 4px #633c17;
}

#calculator {
	width: 50vw;
	max-width: 400px;
	max-height: 80vh;
	padding: 15px;
	background-color: #2cb099;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 15px;
	box-shadow: 5px 5px 25px 1px #00000020;
}

#calcName {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
#calcName h3 {
	font-size: 2em;
}

#screenContainer {
	background-color: #d8d8b1;
	width: 100%;
	border: 2px solid green;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;

	aspect-ratio: 3/1;
}

.screen {
	color: black;
	font-family: digital-7;
	text-align: end;
}

#screenTop {
	font-size: 2em;
	flex-basis: 30%;
}
#screenBottom {
	flex-basis: 66.66%;
}

#buttons {
	display: flex;
	margin-top: 15px;
}
#numbersBlock {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}
#numbersBlock button {
	flex-basis: 33.3333%;
}
button {
	aspect-ratio: 1/1;
	background-color: #013241;
	color: azure;
	border-radius: 15px;
	border: 5px solid #2cb099;
	font-size: 2em;
	/* box-shadow: 5px 5px 25px 1px #0000008f; */
}

#rightColumn {
	display: flex;
	flex-direction: column;
	width: 25%;
}
#num0 {
	flex-grow: 2;
	aspect-ratio: 2/1;
}
#equals {
	flex-grow: 2;
}
#plus {
	flex-grow: 2;
}
button#clear {
	background-color: #b75860;
}

#copyright {
	text-align: center;
	color: whitesmoke;
	bottom: 15vh;
	padding: 2vh 0;
}
#copyright a {
	color: whitesmoke;
}
